$primary: #0049CB;
$secondary: #e7eaee;
$text: #001c4d;
$info: #b3cfff;
$light: #EDF2F4;

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins';
    background-color: $secondary;
    color: $text;
    @include media-breakpoint-down(sm) {
            font-size: rfs-fluid-value(0.95rem);
        }
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.to-do-element {
    box-shadow: 0 .125rem .25rem rgba($black, .075);
        &:hover {
                box-shadow: 0 .125rem 1rem rgba($info, .475);
            }
}

.display-1 {
    letter-spacing: -6px;
}

.container-sm {
    max-width: 700px;
}

.pointer{
    cursor: pointer;
}

.erased {
    text-decoration: line-through;
}

.wrapper {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.sub-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 6rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background-color: $text;
    color: $info;
}

